<footer>

    <section>
        <h3>Navegacion</h3>
        <ul>
            <li><a href="/">Inicio</a></li> 
            <li><a href="/cart">Carrito</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Registro</a></li>
        </ul>

    </section>
    <section>
        <h3>Categorias</h3>
        <ul>
            <li>Comida</li>
            <li>Bebidas</li>
            <li>Indumentaria</li>
            <li>Juegos</li>
            <li>Automotor</li>
            <li>Hogar</li>
            <li>Electronica</li>
            <li>Otros</li>
        </ul>
    </section>

    <section>
        <h3>Contacto</h3>
        <p>Email: info@miecommerce.com</p>
        <p>Teléfono: 2657-320232</p>
    </section>

    <section>
        <p>@ 2026 Mi Ecommerce</p>
        <p>Todos los derechos reservados</p>
    </section>
</footer