<footer>
    <section>
        <h3>Contacto</h3>
        <p>Email: info@miecommerce.com</p>
        <p>Teléfono: 2657-320232</p>
    </section>

    <section>
        <p>@ 2026 Mi Ecommerce</p>
        <p>Todos los derechos reservados</p>
    </section>
</footer>