<header>
    <a href="/"><img src="../../public/img/logo.png"></a>
    <form action="buscar" method="get">
        <label for="buscar">Buscar</label>
        <input type="text" name="buscar" id="buscar">
        <button type="submit">🔍</button>
    </form>
    <a href="/cart">🛒</a>
</header>