<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>

    <%- include(´../pastials/header´) %>

    <main>
        <h2>Categorias</h2> //categorias

        <ul>
            <li> <a href="#">Categoria 1</a></li>
            <li> <a href="#">Categoria 2</a></li>
            <li> <a href="#">Categoria 3</a></li>
        </ul>

        </section>

        //lista de productos
        <section>
            <h2>Productos</h2>

            <div class="productos">

                <article>
                    <a href="/products/1">Producto 1</a>
                    <img src="/assets/img/product1.jpg" alt="Producto 1">
                    <h3>Producto 1</h3>
                    <p>100 puntos </p>
                    </a>
                </article>

                <article> 
                    <a href="/products/2"">
                        img src=/assets/img/producto2.jpg" alt="Producto 2">
                        <h3>Producto 2</h3>
                        <p>250 puntos</p>
                        </a>
                        
                </article>
                
            </div>
        </section>


    </main>

    <%- include('../partials/footer') %>

</body>

</html>    